* {
  box-sizing: border-box;
}

body {
  background-color: cornsilk;
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  line-height: 1.2;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
  font-size: 24px;
}

a {
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: center;
}

.title {
  font-family: "Niconne", cursive;
  font-size: 2.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.amy-image {
  width: 100%;
}

.container-1 {
  margin: 0 25px;
  border: 5px solid black;
  display: flex;
  justify-content: space-around;
}

.side-box {
  width: 30%;
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
}

.middle-box {
  width: 40%;
  padding: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.container-2 {
  margin: 25px;
  border: 5px solid black;
  display: flex;
}

.bottom-left {
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
}

.navigation {
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.sections {
  padding: 30px;
}

.navigation a {
  font-weight: 800;
  color: cornsilk;
}

.local {
  background-color: #9ea93f;
}

.opinion {
  background-color: #60712f;
}

.more-amy {
  background-color: #315c2b;
}

.vacation-plans {
  background-color: #274029;
}

.watching {
  background-color: #6b6054;
}

.twitter-logo {
  color: black;
  padding-left: 10px;
}
